@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

/* dark theme */
:root {
  --text-primary: #FAF9F5;
  --text-secondary: #87867F;
  --text-tertiary: #6B6755;
  --text-accent: #E89272;
  --text-accentDeep: #DA7756;
  --test-inverse-primary: #141413;

  --bg-page: #141413;
  --bg-surface: #1F1E1D;
  --bg-elevated: #30302E;
  --bg-subtle: #87867F;
  --bg-accent: #C44C2A;
  --bg-accentSubtle: #2E1E16;
  --bg-inverseSurface: #FAF9F5;

  --border-default: #30302E;
  --border-emphasis: #3D3D3A;
  --border-strong: #625D52;
  --border-accent: #C44C2A;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* light theme */
[data-theme="light"] {
  --text-primary: #141413;
  --text-secondary: #5E5D59;
  --text-tertiary: #9E9A89;
  --text-accent: #DA7756;
  --text-accentDeep: #BD5D3A;
  --text-inversePrimary: #FAF9F5;

  --bg-page: #FAF9F5;
  --bg-surface: #F0EEE6;
  --bg-elevated: #FFFFFF;
  --bg-subtle: #87867F;
  --bg-accent: #DA7756;
  --bg-accentSubtle: #F5EDE7;
  --bg-inverseSurface: #141413;

  --border-default: #E8E6DC;
  --border-emphasis: #D1CFC5;
  --border-strong: #A39E88;
  --border-accent: #DA7756;
}

@theme{
  /* text color */
  --color-text-primary : var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --color-text-accent: var(--text-accent);
  --color-text-accentDeep: var(--text-accentDeep);
  --color-text-inversePrimary: var(--text-inversePrimary);

  /* background color */
  --color-bg-page: var(--bg-page);
  --color-bg-surface: var(--bg-surface);
  --color-bg-elevated: var(--bg-elevated);
  --color-bg-subtle: var(--bg-subtle);  
  --color-bg-accent:var(--bg-accent);
  --color-bg-inverseSurface: var(--bg-inverseSurface);

  /* border color */
  --color-border-default: var(--border-default);
  --color-border-emphasis: var(--border-emphasis);
  --color-border-strong: var(--border-strong);
  --color-border-accent: var(--border-accent);

  /* custom shadow */
  --shadow-white: 0px 0px 0px 6px rgba(255, 255, 255, 0.2)
}

#root {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-bg-page);
}

h1{
  font-size: 56px;
  line-height: 100%;
}

h2{
  font-size: 36px;
  line-height: 40px;
}

h3{
  font-size: 32px;
  line-height: 40px;
}

h4{
  font-size: 24px;
  line-height: 28px; 
}

h5{
  font-size: 20px;
  line-height: 28px;
}

h6{
  font-size: 18px;
  line-height: 20px;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Inter Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}